<div class="container">
  <h1>{{title}}</h1>

  <div id="canvas"></div>
  <div class="btn-group" role="group">
    <button (click)="major()" type="button" class="btn btn-primary">C Major</button>
    <button (click)="minor()"type="button" class="btn btn-primary">C Minor</button>
    <!-- <button (click)="pentaMinor()"type="button" class="btn btn-primary">Penta minor</button> -->
  </div>

  <br>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
    [ngModel]="key.letter"
    (ngModelChange)="key.letter=$event;redraw();"
    >
    <label
      *ngFor="let l of letters"
      ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="l.letter">{{l.sign}}
    </label>
  </div>

  <br>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
    [ngModel]="key.accidental"
    (ngModelChange)="key.accidental=$event;redraw();"
    >
    <label
      *ngFor="let a of accidentals"
      ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="a.accidental">{{a.sign}}
    </label>
  </div>


  <hr>
</div>
