<div class="container">
  <h1>{{title}}</h1>

  <div id="canvas"></div>
  <div class="btn-group" role="group">
    <button (click)="major()" type="button" class="btn btn-primary">Major</button>
    <button (click)="minor()"type="button" class="btn btn-primary">Minor</button>
    <button (click)="pentaMinor()"type="button" class="btn btn-primary">Penta minor</button>
  </div>

  <br>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
    [ngModel]="key"
    (ngModelChange)="onKey($event)"
    >
    <label
      *ngFor="let key of keys()"
      ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="key.value">{{key.name}}
    </label>
  </div>

  <br>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
    [ngModel]="accidental"
    (ngModelChange)="onAccidental($event)"
    >
    <label
      *ngFor="let accidental of accidentals()"
      ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="accidental.value">{{accidental.name}}
    </label>
  </div>

  <hr>
</div>
